@model AptManagement.Data.Models.Apartment

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(m => m.AptID)
        <dt>
            @Html.DisplayNameFor(model => model.AptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantTwo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
