@model AptManagement.ViewModels.ApartmentViewModel

@{
    ViewBag.Title = "Apartment Details";
}

<h2>Apartment Details</h2>
<hr />
    <a href="@Url.Action("Index")" class="btn btn-danger">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to List
    </a>
@Html.DisplayFor(m => m.CurrentApt)
    <a href="@Url.Action("EditApartment", new { AptID = Model.CurrentApt.AptID })" 
       class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
    </a>
    @using (Html.BeginForm("DeleteApartment", "Apartment", FormMethod.Post, new { @class = "form-inline" }))
    {
        <input hidden name="AptID" value="@Model.CurrentApt.AptID" />
        <button type="submit" class="btn btn-warning">Delete</button>
    }

    <a href="@Url.Action("DeleteApartment")" class="btn btn-danger" id="delAptBtn"
       data-AptID="@Model.CurrentApt.AptID">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
    </a>
